.dice-container {
    display: flex;
    /* flex line up horizontally */
}

.dice {
    width: 80px;
    height: 80px;
    position: relative;
    /* relative in order to have the dots place precisely  */
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.dice-dot {
    --top: 0%;
    --left: 0%;

    width: 15px;
    height: 15px;
    background-color: #000000;
    border-radius: 50%;

    /* Dot Positioning */
    position: absolute;
    /* absolute will position the dots relative to the first dice */
    top: let(--top);
    left: let(--left);
    transform: translateX(calc (let(--left) * -1)) translateY(calc (let(--top) * -1));

}


.btn-roll-dice {
    margin-top: 10px;
}